<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do Nodejs!</h1>
  <p class="lead">Este é um blog simples feito com Nodejs + Espress + MongoDB. </p>
  <hr class="my-4">
  <p><small> Cadastre-se e fique adquira conhecimento sobre essas tecnologias! </small></p>
  <a class="btn btn-success btn-sm " href="#" role="button"> Crie uma conta </a>
</div>

<h4> Postagens recentes: </h4>

{{#each postagens}}

    <div class="card mt-4">
        <div class="card-body">
            
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/admin/postagem/{{slug}}"><button class="btn btn-outline-success btn-sm">Leia mais </button></a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small><br>
            <small>Data da publicação: {{data}}</small>

        </div>
    </div>

{{else}}

    <h4 style="color: rgb(161, 158, 158)"> Nenhuma postagem cadastrada!</h4>
{{/each}}