<h2>Lista de categorias:</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-outline-info mt-2"> Nova categoria</button></a>

{{#each categorias}}

    <div class="card  col-md-6 mt-4">
        <div class="card-body mt-8">
            <h4>{{nome}}</h4>  <!-- nome da coluna do banco-->
            <small>Slug: {{slug}}</small><br> <!-- nome da coluna do banco -->
            <small>Data de criação: {{data}}</small>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-info btn-sm mt-4"> Editar </button></a>
        </div>
    </div>

{{else}}

{{/each}}